@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);

html {
  font-size: 16px;
}

body {
  font-family: Spoqa Han Sans, 'Sans-serif';
  font-size: 1rem;
  margin: 0;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
  word-break: keep-all;
}

h1 {
  font-size: 48px;
  font-weight: bold;
  font-stretch: normal;
  letter-spacing: -0.3px;
  line-height: 135%;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 25px;
  }
}

h2 {
  font-size: 30px;
  font-weight: bold;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 20px;
  }
}

h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 20px;
  }
}

span {
  font-size: 17px;
  font-weight: normal;
  margin: 0;

  @media (max-width: 768px) {
    font-size: 15px;
  }
}
